:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 0px;
}
.controls {
    margin-top: 20px;
}
html, body {
    overflow-x: hidden;
    width: 100%;
    text-align: center;
    margin: 0px;
    background: url('https://picsum.photos/1500/1000?image=881&blur=50');
    background-repeat: no-repeat;
    background-size: cover;

}
.h1 {
    color: var(--base);
}
img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}